body {
    font-family: Arial, sans-serif;
    margin: 0px;

}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    font-weight: bold;
}
input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#inputChannel{
    width: 9%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.inputSelect{
  display: flex;
  justify-content: flex-end;
}

.inputSelect > select{
  margin: 0px;
  border-radius: 0px 5px 5px 0px;
  padding: 7px;
  margin-bottom: 10px;
}

.formula{
  margin-top: 10px;
}

.bar{
  margin: 0;
  padding: 0;
  background-color: #333;
}

select{
  width: 80px;
}